---
import Hero from "../../components/about/Hero.astro";
import Section from "../../components/about/Section.astro";
import People from "../../components/about/People.astro";
import Clients from "../../components/about/Clients.astro";
import Approach from "../../components/about/Approach.astro";
import Sports from "../../components/about/Sports.astro";
import Worldwide from "../../components/about/Worldwide.astro";
import Mindset from "../../components/about/Mindset.astro";
import Tomorrows from "../../components/about/Tomorrows.astro";


import Title from "../../components/atoms/Title.astro";

const { language, blok } = Astro.props;
---

<div id="page-about" class="about">
    <div
        class="container-main flex flex-col items-center pt-150 pb-120 lg:pt-135 lg:pb-145"
    >
        <span
            class="text-tag-big mb-24 flex items-center justify-center rounded-[5rem] border-3 px-16 py-12 lg:mb-65 lg:px-24 lg:py-13"
        >
            {blok.subtitle}
        </span>
        <h1 class="text-title-1 px-gutter w-10/12 text-center">
            <Title title={blok.title[0]} />
        </h1>
        <Hero blok={blok} />
    </div>
    <Section title={blok.people_title[0]} bgColor="black" color="white">
        <People blok={blok} />
    </Section>
    <Section title={blok.clients_title[0]} bgColor="blue" color="black">
        <Clients blok={blok} />
    </Section>
    <Section title={blok.approach_title[0]} bgColor="white" color="black">
        <Approach blok={blok} />
    </Section>
    <Section title={blok.sports_title[0]} bgColor="green" color="white">
        <Sports blok={blok} />
    </Section>
    <Section title={blok.worldwide_title[0]} bgColor="pink" color="black">
        <Worldwide blok={blok} />
    </Section>
    <Section title={blok.mindset_title[0]} bgColor="orange" color="white">
        <Mindset blok={blok} />
    </Section>
    <Section title={blok.tomorrows_title[0]} bgColor="black" color="white">
        <Tomorrows blok={blok} />
    </Section>
</div>

<script>
    let tlAppear;
    const init = () => {
        const page = document.querySelector("#page-about");
        if (!page) return;

        const banner = document.querySelector("#layout-banner");
        const header = document.querySelector("#layout-header");

        gsap.timeline()
            .set(banner, {
                y: "-100%",
            })
            .set(header, {
                y: -50,
                opacity: 0,
            });

        tlAppear = gsap
            .timeline()
            .to(
                banner,
                {
                    y: 0,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            )
            .to(
                header,
                {
                    y: 0,
                    opacity: 1,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            );
    };

    document.addEventListener("astro:page-load", () => {
        init();
    });
</script>
