---
import { Icon } from "astro-icon/components";

import { storyblokEditable } from "@storyblok/astro";
import RichTextRenderer from "storyblok-rich-text-astro-renderer/RichTextRenderer.astro";

import Title from "../../components/atoms/Title.astro";
import ArrowLink from "../../components/atoms/ArrowLink.astro";
import Hero from "../../components/about/Hero.astro";
import Section from "../../components/about/Section.astro";
import SBImage from "../../components/global/SBImage.astro";
import LogosGrid from "../sections/LogosGrid.astro";
import SBRichText from "../../components/global/SBRichText.astro";


const { language, blok } = Astro.props;
---

<div class="about">
    <div
        class="container-main flex flex-col items-center pt-150 pb-120 lg:pt-135 lg:pb-145"
    >
        <span
            class="text-tag-big mb-24 flex items-center justify-center rounded-[5rem] border-3 px-16 py-12 lg:mb-65 lg:px-24 lg:py-13"
        >
            {blok.subtitle}
        </span>
        <h1 class="text-title-1 px-gutter w-10/12 text-center">
            <Title title={blok.title[0]} />
        </h1>
        <Hero blok={blok} />
    </div>
    <Section title={blok.people_title[0]} bgColor="black" color="white">
        <div
            class="mx-auto mt-32 flex w-10/12 flex-col gap-30 md:mt-50 md:flex-row md:gap-0 lg:w-8/12 xl:w-6/12"
        >
            <div
                class="px-gutter flex flex-col gap-32 md:flex-1 md:gap-42 md:pr-33"
            >
                <div class="relative flex flex-col">
                    <div
                        class="text-orange absolute -top-13 -left-38 h-107 w-150 md:-top-22 md:-left-67 md:h-154 md:w-217"
                    >
                        <Icon name="punks" size="full" />
                    </div>
                    <span
                        class="relative text-[4.5rem]/[4.5rem] md:text-[6rem]/[6rem]"
                        >{blok.people_left_col_emoji}</span
                    >
                    <span class="text-tag-big relative"
                        >{blok.people_left_col_title}</span
                    >
                </div>
                <p class="text-p-18 whitespace-pre-wrap">
                    {blok.people_left_col_text}
                </p>
            </div>
            <div
                class="px-gutter flex flex-col gap-32 md:flex-1 md:gap-42 md:pr-33"
            >
                <div class="relative flex flex-col">
                    <div
                        class="text-blue absolute -top-5 -left-17 h-82 w-107 md:top-3 md:-left-18 md:h-103 md:w-135"
                    >
                        <Icon name="scouts" size="full" />
                    </div>
                    <span
                        class="relative text-[4.5rem]/[4.5rem] md:text-[6rem]/[6rem]"
                        >{blok.people_right_col_emoji}</span
                    >
                    <span class="text-tag-big relative text-black"
                        >{blok.people_right_col_title}</span
                    >
                </div>
                <p class="text-p-18 whitespace-pre-wrap">
                    {blok.people_right_col_text}
                </p>
            </div>
        </div>
        <div class="mt-30 md:mt-65">
            <h3 class="text-title-3 px-gutter mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
                <Title title={blok.people_agency_title[0]} />
            </h3>
            {blok.people_agency_photo && (
                <div class="mt-24 px-gutter md:mt-45 mx-auto lg:w-8/12 xl:w-6/12">
                    <SBImage
                        class="size-full lg:max-w-none lg:w-[calc(100%+4rem)] lg:-ml-[2rem]"
                        image={blok.people_agency_photo}
                    />
                </div>
            )}
        </div>
        <div class="mt-24 md:mt-42 mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
            {blok.people_agency_legend_title && (
                <h4 class="text-title-7 px-gutter mb-16 md:mb-23">
                    {blok.people_agency_legend_title}
                </h4>
            )}
            {Array.isArray(blok.people_agency_legend_list) && blok.people_agency_legend_list.length > 0 && (
                <ul class="text-p14 gap-8 md:columns-2">
                    {blok.people_agency_legend_list.map((item: { Text: string }) => (
                        <li class="px-gutter">{item.Text}</li>
                    ))}
                </ul>
            )}
        </div>
    </Section>
    <Section title={blok.clients_title[0]} bgColor="blue" color="black">
        {blok.clients_intro && (
            <p class="whitespace-pre-wrap text-p-24 mt-25 px-gutter mx-auto w-10/12 md:mt-55 lg:w-8/12 xl:w-6/12">{blok.clients_intro}</p>
        )}
        <LogosGrid logos={blok.clients_logos[0]} className="mt-55 md:mt-80" />
        {blok.clients_text && (
            <p class="whitespace-pre-wrap text-p-18 mt-56 px-gutter mx-auto max-w-276 w-10/12 md:mt-72 md:max-w-none lg:w-8/12 xl:w-6/12 2xl:w-4/12">{blok.clients_text}</p>
        )}
        <div class="text-title-3 px-gutter mt-48 md:mt-72 mx-auto max-w-334 md:max-w-none md:w-10/12 lg:w-8/12 xl:w-6/12">
            {blok.clients_workflow_title && (
                <h3>{blok.clients_workflow_title}</h3>
            )}
            {Array.isArray(blok.clients_workflow_list) && blok.clients_workflow_list.length > 0 && (
                <ul>
                    {blok.clients_workflow_list.map((item: { Text: string }) => (
                        <li class="inline ">
                            <span class="align-baseline  relative bottom-[0.3rem] inline-flex items-center justify-center rounded-full border-2 border-current size-28 md:size-34">
                                <Icon
                                    name="arrow-right"
                                    class:list={[
                                        "size-14 md:size-16",
                                    ]}
                                />
                            </span>
                            <span> {item.Text} </span>
                        </li>
                    ))}
                </ul>
            )}
        </div>
    </Section>
    <Section title={blok.approach_title[0]} bgColor="white" color="black">
        <div class="relative pt-40 pb-60 mt-60 mx-auto md:mt-95 md:pt-120 md:pb-90 lg:w-8/12">
            <div class="absolute top-0 -left-gutter right-1/2 h-full flex flex-col before:w-full before:flex-none before:aspect-187/171 before:bg-pink before:rounded-tl-full after:flex-1 after:bg-pink">
            </div>
            <div class="absolute top-0 -right-gutter left-1/2 h-full flex flex-col before:w-full before:flex-none before:aspect-187/171 before:bg-orange before:rounded-tr-full after:flex-1 after:bg-orange"></div>
            <div class="relative w-6/12 max-w-300 mx-auto px-gutter mb-80 md:mb-45">
                <div class="flex items-center justify-center aspect-174/240 bg-black">
                    <span class="text-white">SPLINE</span>
                </div>
            </div>
            <div class="relative flex">
                <div class="px-25 w-1/2 flex flex-col justify-between gap-30 text-black md:gap-40 xl:pl-100 xl:pr-60">
                    {blok.approach_left_col_title[0] && (
                        <h5 class="text-title-5"><Title title={blok.approach_left_col_title[0]} /></h5>
                    )}
                    {blok.approach_left_col_text && (
                        <p class="whitespace-pre-wrap text-p-18 flex">{blok.approach_left_col_text}</p>
                    )}
                </div>
                <div class="px-25 w-1/2 flex flex-col justify-between gap-30 text-white md:gap-40 xl:pl-60 xl:pr-100">
                    {blok.approach_right_col_title[0] && (
                        <h5 class="text-title-5"><Title title={blok.approach_right_col_title[0]} /></h5>
                    )}
                    {blok.approach_right_col_text && (
                        <p class="whitespace-pre-wrap text-p-18">{blok.approach_right_col_text}</p>
                    )}
                </div>
            </div>
        </div>
        {
            blok.approach_link[0]?.label && (
                <div class="flex justify-center px-gutter">
                    <ArrowLink
                        label={blok.approach_link[0].label}
                        link={blok.approach_link[0].link}
                        className="mt-40 md:mt-50"
                    />
                </div>
            )
        }
    </Section>
    <Section title={blok.sports_title[0]} bgColor="green" color="white">
        <div class="px-gutter mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
            {blok.sports_content && (
                <SBRichText 
                    content={blok.sports_content}
                />
            )}
            {
                blok.sports_link[0]?.label && (
                    <ArrowLink
                        label={blok.sports_link[0].label}
                        link={blok.sports_link[0].link}
                        className="mt-40 md:mt-50"
                    />
                )
            }
        </div>
    </Section>
    <Section title={blok.worldwide_title[0]} bgColor="pink" color="black">
        <div class="px-gutter mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
            {blok.worldwide_content && (
                <SBRichText 
                    content={blok.worldwide_content}
                />
            )}
            {
                blok.worldwide_link[0]?.label && (
                    <ArrowLink
                        label={blok.worldwide_link[0].label}
                        link={blok.worldwide_link[0].link}
                        className="mt-40 md:mt-50"
                    />
                )
            }
        </div>
    </Section>
    <Section title={blok.mindset_title[0]} bgColor="orange" color="white">
        <div class="px-gutter mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
            {blok.mindset_content && (
                <SBRichText 
                    content={blok.mindset_content}
                />
            )}
        </div>
    </Section>
    <Section title={blok.tomorrows_title[0]} bgColor="black" color="white">
        <div class="px-gutter mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
            {blok.tomorrows_content && (
                <SBRichText 
                    content={blok.tomorrows_content}
                />
            )}
        </div>
    </Section>
</div>
