---
import { Icon } from "astro-icon/components";

import Title from "../../components/atoms/Title.astro";
import Hero from "../../components/about/Hero.astro";
import Section from "../../components/about/Section.astro";

const { language, blok } = Astro.props;
---

<div class="about">
    <div class="container-main flex flex-col items-center pt-150 pb-120 lg:pt-135 lg:pb-145">
        <span
            class="text-tag-big mb-24 flex items-center justify-center rounded-[50px] border-3 px-16 py-12 lg:mb-65 lg:px-24 lg:py-13"
        >
            {blok.subtitle}
        </span>
        <h1 class="text-title-1 px-gutter w-10/12 text-center">
            <Title title={blok.title[0]} />
        </h1>
        <Hero blok={blok} />
    </div>
    <Section title={blok.people_title[0]} bgColor="black" color="white">
        <div class="flex flex-col gap-30 mt-32 mx-auto w-10/12 md:flex-row md:gap-0 md:mt-50 lg:w-8/12 xl:w-6/12">
            <div class="flex flex-col gap-32 px-gutter md:gap-42 md:flex-1 md:pr-33">
                <div class="relative flex flex-col">
                    <div class="absolute text-orange w-150 h-107 -top-13 -left-38 md:w-217 md:h-154 md:-top-22 md:-left-67">
                        <Icon name="punks" size="full"/>
                    </div>
                    <span class="relative text-[4.5rem]/[45px] md:text-[6rem]/[60px]">{blok.people_left_col_emoji}</span>
                    <span class="relative text-tag-big">{blok.people_left_col_title}</span>
                </div>
                <p class="whitespace-pre-wrap text-p-18">{blok.people_left_col_text}</p>
            </div>
            <div class="flex flex-col gap-32 px-gutter md:gap-42 md:flex-1 md:pr-33">
                <div class="relative flex flex-col">
                    <div class="absolute text-blue w-107 h-82 -top-5 -left-17 md:w-135 md:h-103 md:top-3 md:-left-18">
                        <Icon name="scouts" size="full"/>
                    </div>
                    <span class="relative text-[4.5rem]/[45px] md:text-[6rem]/[60px]">{blok.people_right_col_emoji}</span>
                    <span class="relative text-tag-big text-black">{blok.people_right_col_title}</span>
                </div>
                <p class="whitespace-pre-wrap text-p-18">{blok.people_right_col_text}</p>
            </div>
        </div>
    </Section>
    <Section title={blok.clients_title[0]} bgColor="green" color="white" />
    <Section title={blok.approach_title[0]} bgColor="white" color="black" />
    <Section title={blok.sports_title[0]} bgColor="blue" color="black" />
    <Section title={blok.worldwide_title[0]} bgColor="pink" color="black" />
    <Section title={blok.mindset_title[0]} bgColor="orange" color="white" />
</div>
