---
import ArrowLink from "../../components/atoms/ArrowLink.astro";

import Hero from "../../components/approach/Hero.astro";
import CulturalPhilosophy from "../../components/approach/CulturalPhilosophy.astro";
import CulturalItems from "../../components/approach/CulturalItems.astro";
import CulturalProcess from "../../components/approach/CulturalProcess.astro";
import BoldAdvertising from "../../components/approach/BoldAdvertising.astro";

const { language, blok } = Astro.props;
---

<div class="approach">
    <div class="container-main flex flex-col items-center pt-150 md:pt-135">
        <span
            class="text-tag-big mb-24 flex items-center justify-center rounded-[50px] border-3 px-16 py-12 md:mb-65 md:px-24 md:py-13"
        >
            {blok.subtitle}
        </span>
        <h1 class="text-title-1 px-gutter w-10/12 text-center">
            {blok.title}
        </h1>
    </div>

    <Hero blok={blok} />

    <div id="cultural-section" class="bg-green py-105 text-white md:py-130">
        <div class="container-main">
            <div class="mx-auto w-10/12 md:mx-0 md:ml-[8.333%] md:w-1/2">
                <CulturalPhilosophy blok={blok} />
                <CulturalItems items={blok.cultural_items} />
                <CulturalProcess blok={blok} />
                {
                    blok.cultural_link[0]?.label && (
                        <ArrowLink
                            label={blok.cultural_link[0].label}
                            link={blok.cultural_link[0].link}
                            className="mt-52 md:mt-40"
                        />
                    )
                }
            </div>
        </div>
    </div>
    <div
        id="communication-section"
        class="bg-orange py-105 text-white md:py-130"
    >
        <div class="container-main flex justify-end">
            <div class="mx-auto w-10/12 md:mx-0 md:mr-[8.333%] md:w-5/12">
                <BoldAdvertising blok={blok} />
            </div>
        </div>
    </div>
</div>
