---
import ArrowLink from "../../components/atoms/ArrowLink.astro";

import Hero from "../../components/approach/Hero.astro";
import CulturalPhilosophy from "../../components/approach/CulturalPhilosophy.astro";
import CulturalItems from "../../components/approach/CulturalItems.astro";
import CulturalProcess from "../../components/approach/CulturalProcess.astro";
import BoldAdvertising from "../../components/approach/BoldAdvertising.astro";
import Title from "../../components/atoms/Title.astro";

const { language, blok } = Astro.props;
---

<div class="approach overflow-hidden" id="page-approach">
    <div class="container-main flex flex-col items-center pt-150 lg:pt-135">
        <span
            class="page-subtitle text-tag-big mb-24 flex items-center justify-center rounded-[5rem] border-3 px-16 py-12 opacity-0 lg:mb-65 lg:px-24 lg:py-13"
        >
            {blok.subtitle}
        </span>
        <h1
            id="approach-title"
            class="text-title-1 px-gutter w-10/12 text-center"
        >
            <Title reveal="manual" title={blok.title[0]} />
        </h1>
    </div>
    <div id="scroll-container">
        <div class="relative mt-105 flex aspect-[1440/660] w-full lg:mt-130">
            <div
                class="bg-pink approach-peak w-1/2 origin-bottom rounded-tl-[100%] opacity-0"
            ></div>
            <div
                class="bg-orange approach-peak w-1/2 origin-bottom rounded-tr-[100%] opacity-0"
            ></div>
            <div
                id="helmet"
                class="pointer-events-none absolute top-[-22vw] left-[50%] size-[70vw] lg:size-[70vw]"
                style="--c: #2D5A36"
            >
                <div id="inner-helmet" class="size-full translate-x-[-50%]">
                    <canvas id="helmet-canvas" class="size-full opacity-0"
                    ></canvas>
                </div>
            </div>
        </div>
        <div id="split-container" class="relative" style="--progress: 0.5;">
            <div
                id="left-split"
                class="bg-pink absolute top-0 bottom-0 left-0 z-[-1] w-[calc(100%*(1-var(--progress)))]"
            >
            </div>

            <div
                id="right-split"
                class="bg-orange absolute top-0 right-0 bottom-0 z-[-1] w-[calc(100%*var(--progress))]"
            >
            </div>

            <Hero blok={blok} />

            <div id="split-left-wrapper">
                <div id="split-left" class="py-105 lg:py-130">
                    <div
                        id="split-left-inner"
                        class="pointer-events-auto translate-x-[calc(100%*var(--progress)*-1)] lg:translate-x-[calc(70%*var(--progress)*-1)]"
                    >
                        <div class="container-main">
                            <div
                                class="mx-auto w-10/12 lg:mx-0 lg:ml-[8.333%] lg:w-1/2"
                            >
                                <CulturalPhilosophy blok={blok} />
                                <CulturalItems items={blok.cultural_items} />
                                <CulturalProcess blok={blok} />
                                {
                                    blok.cultural_link[0]?.label && (
                                        <ArrowLink
                                            label={blok.cultural_link[0].label}
                                            link={blok.cultural_link[0].link}
                                            className="mt-52 lg:mt-40"
                                        />
                                    )
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                id="second-mobile-helmet"
                style="--c: #2D5A36"
                class="flex w-full items-center justify-center lg:hidden"
            >
                <div id="second-inner-helmet" class="size-[40vw] bg-[var(--c)]">
                </div>
            </div>
            <div class="py-105 text-white lg:py-130">
                <div
                    id="split-right"
                    class="pointer-events-none lg:mt-[-100vh]"
                >
                    <div
                        id="split-right-inner"
                        class="pointer-events-auto translate-x-[calc(100%*(1-var(--progress)))] lg:translate-x-[calc(70%*(1-var(--progress)))]"
                    >
                        <div class="container-main flex justify-end">
                            <div
                                class="mx-auto w-10/12 lg:mx-0 lg:mr-[8.333%] lg:w-5/12"
                            >
                                <BoldAdvertising blok={blok} />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    import { Application } from "@splinetool/runtime";

    // DOM Elements
    let page: HTMLElement | null;
    let scrollContainer: HTMLElement | null;
    let splitContainer: HTMLElement | null;
    let hero: HTMLElement | null;
    let splitRight: HTMLElement | null;
    let splitLeft: HTMLElement | null;
    let helmet: HTMLElement | null;
    let helmetCanvas: HTMLCanvasElement | null;
    let secondMobileHelmet: HTMLElement | null;

    //Spline stuff
    let spline: Application | null;
    let casqueBaseball;

    let tlAppear: gsap.core.Timeline | null;

    // GSAP MatchMedia
    let mm: gsap.MatchMedia | null;

    // mobile + desktop GSAP Timelines
    let gTlSplit1: gsap.core.Timeline | null;

    // mobile Timelines
    let mTlSplit2: gsap.core.Timeline | null;
    let mTlHelmet1: gsap.core.Timeline | null;
    let mTlHelmet2: gsap.core.Timeline | null;

    // desktop Timelines
    let dTlHelmetPin: gsap.core.Timeline | null;
    let dTlHelmet1: gsap.core.Timeline | null;
    let dTlHelmet2: gsap.core.Timeline | null;
    let dTlSplit2Left: gsap.core.Timeline | null;
    let dTlSplit2Right: gsap.core.Timeline | null;

    const setDOMElements = () => {
        scrollContainer = document.querySelector(".approach #scroll-container");
        splitContainer = document.querySelector(".approach #split-container");
        hero = document.querySelector(".approach #approach-hero");
        splitRight = document.querySelector(".approach #split-right");
        splitLeft = document.querySelector(".approach #split-left");
        helmet = document.querySelector(".approach #helmet");
        helmetCanvas = document.querySelector(".approach #helmet-canvas");
        secondMobileHelmet = document.querySelector(
            ".approach #second-mobile-helmet",
        );
    };

    const mobileAnimations = () => {
        mTlHelmet1 = gsap
            .timeline({
                scrollTrigger: {
                    trigger: hero,
                    start: "top center",
                    end: "bottom 80%",
                    pin: helmet,
                    scrub: true,
                },
            })
            .fromTo(
                helmet,
                {
                    "--c": "#2D5A36",
                },
                {
                    "--c": "#2D5A36",
                },
            );

        mTlHelmet2 = gsap
            .timeline({
                scrollTrigger: {
                    trigger: secondMobileHelmet,
                    start: "top bottom",
                    end: "top top",
                    scrub: true,
                },
            })
            .fromTo(
                secondMobileHelmet,
                {
                    "--c": "#2D5A36",
                },
                {
                    "--c": "#EDD4F8",
                },
            );

        mTlSplit2 = gsap
            .timeline({
                scrollTrigger: {
                    trigger: splitRight,
                    start: "top bottom",
                    end: "top top",
                    scrub: true,
                },
            })
            .to(splitContainer, {
                "--progress": 0.99,
            });
    };

    const desktopAnimations = () => {
        dTlSplit2Left = gsap
            .timeline({
                scrollTrigger: {
                    trigger: splitLeft,
                    start: "bottom bottom",
                    end: "bottom top",
                    scrub: true,
                    pinSpacing: false,
                    pin: splitLeft,
                    onUpdate: (self) => {
                        if (!spline || !casqueBaseball) return;

                        const p = self.progress;
                        casqueBaseball.rotation.x =
                            Math.PI * 1.25 + Math.PI * -0.5 * p;
                    },
                },
            })
            .to(splitContainer, {
                "--progress": 0.99,
            })
            .to(
                helmet,
                {
                    "--c": "#EDD4F8",
                    x: "-30vw",
                },

                "<",
            );

        dTlSplit2Right = gsap.timeline({
            scrollTrigger: {
                trigger: splitLeft,
                start: "bottom bottom",
                end: "bottom top",
                pin: splitRight,
                scrub: true,
                invalidateOnRefresh: true,
            },
        });

        dTlHelmetPin = gsap.timeline({
            scrollTrigger: {
                trigger: helmet,
                start: "center center",
                endTrigger: scrollContainer,
                end: "bottom bottom",
                pin: helmet,
                scrub: true,
                invalidateOnRefresh: true,
            },
        });

        dTlHelmet1 = gsap
            .timeline({
                scrollTrigger: {
                    trigger: helmet,
                    start: "center-=50px center",
                    endTrigger: hero,
                    end: "bottom top",
                    scrub: true,
                    invalidateOnRefresh: true,
                    onUpdate: (self) => {
                        if (!spline || !casqueBaseball) return;

                        const p = self.progress;
                        casqueBaseball.rotation.x = Math.PI * 1.25 * p;
                        casqueBaseball.rotation.z =
                            (Math.PI / 2) * Math.min(p * 2, 1);
                    },
                },
            })
            .fromTo(
                helmet,
                {
                    "--c": "#2D5A36",
                },
                {
                    "--c": "#E56138",
                },
            );

        dTlHelmet2 = gsap
            .timeline({
                scrollTrigger: {
                    trigger: hero,
                    start: "top top",
                    end: "bottom top",
                    scrub: true,
                },
            })
            .to(helmet, {
                x: "30vw",
            });
    };

    const initSpline = (): Promise<{ splineHelmet: any }> => {
        return new Promise((resolve, reject) => {
            if (!helmetCanvas) {
                reject("Can't initialized 3D, no canvas present");
                return;
            }
            spline = new Application(helmetCanvas);
            spline
                .load("/spline/approach.splinecode", undefined, {
                    credentials: "include",
                    mode: "no-cors",
                })
                .then(() => {
                    if (!spline) {
                        reject("Can't initialized 3D, Spline not initialized");
                        return;
                    }
                    spline.setBackgroundColor("transparent");
                    console.log("spline is loaded");

                    resolve({
                        splineHelmet: spline.findObjectByName("CasqueBaseball"),
                    });
                })
                .catch(() => {
                    reject("Can't initialized 3D, Spline doesn't respond");
                });
        });
    };

    const initAppear = () => {
        if (!page) return;

        const banner = document.querySelector("#layout-banner");
        const header = document.querySelectorAll(
            "#layout-header .layout-header",
        );
        const subtitle = page.querySelector(".page-subtitle");
        const approachPeak = page.querySelectorAll(".approach-peak");
        const titleWordsDesktop = page.querySelectorAll(
            "#approach-title .title-wrap-desktop .word-inner",
        );
        const titleWordsMobile = page.querySelectorAll(
            "#approach-title .title-wrap-mobile .word-inner",
        );

        gsap.timeline()
            .set(banner, {
                y: "-100%",
            })
            .set(header, {
                y: -50,
                opacity: 0,
            })
            .set(subtitle, {
                scale: 0.7,
                opacity: 0,
            })
            .set(approachPeak, {
                scaleY: 0,
                opacity: 0,
            })
            .set(helmetCanvas, {
                y: "10rem",
                opacity: 0,
            })
            .set([titleWordsMobile, titleWordsDesktop], {
                y: "100%",
                opacity: 1,
            });

        tlAppear = gsap
            .timeline({ delay: 0.3, paused: true })
            .to(
                banner,
                {
                    y: 0,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            )
            .to(
                header,
                {
                    y: 0,
                    opacity: 1,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            )
            .to(
                subtitle,
                {
                    opacity: 1,
                    scale: 1,
                    duration: 1,
                    ease: "elastic.out(1.2,0.7)",
                },
                "start+=0.1",
            )
            .to(
                approachPeak,
                {
                    opacity: 1,
                    scaleY: 1,
                    duration: 1,
                    ease: "elastic.out(1,0.7)",
                },
                "start+=0.3",
            )
            .to(
                helmetCanvas,
                {
                    opacity: 1,
                    y: 0,
                    duration: 1,
                    ease: "elastic.out(1,0.7)",
                },
                "start+=0.3",
            );

        if (window.innerWidth > 1024) {
            tlAppear
                .to(
                    titleWordsDesktop,
                    {
                        duration: 0.8,
                        y: 0,
                        stagger: 0.05,
                        ease: "elastic.out(1,0.7)",
                    },
                    "<+=0.2",
                )
                .set(titleWordsMobile, {
                    y: 0,
                });
        } else {
            tlAppear
                .to(
                    titleWordsMobile,
                    {
                        duration: 0.8,
                        y: 0,
                        stagger: 0.05,
                        ease: "elastic.out(1,0.7)",
                    },
                    "<+=0.2",
                )
                .set(titleWordsDesktop, {
                    y: 0,
                });
        }
        tlAppear.play();
    };

    const waitForFooterSplineLoad = () => {
        return new Promise<void>((resolve, reject) => {
            const splineViewer: any | null =
                document.getElementById("SplineViewer");

            if (splineViewer?._loaded) {
                console.log("splineViewer is already Laoded");
                resolve();
            }

            splineViewer?.addEventListener("load-complete", () => {
                console.log("splineViewer load complete");

                resolve();
            });
        });
    };

    const init = async () => {
        page = document.querySelector("#page-approach");
        if (!page) return;

        await waitForFooterSplineLoad();

        setDOMElements();

        const { splineHelmet } = await initSpline();
        casqueBaseball = splineHelmet;

        console.log("after spline is loaded");

        mm = gsap.matchMedia();

        mm.add("(width < 1024px )", () => {
            mobileAnimations();
        });

        mm.add("(width > 1024px )", () => {
            desktopAnimations();
        });

        gTlSplit1 = gsap
            .timeline({
                scrollTrigger: {
                    trigger: hero,
                    start: "top top",
                    end: "bottom top",
                    scrub: true,
                },
            })
            .to(splitContainer, {
                "--progress": 0.01,
            })
            .to(
                hero,
                {
                    "--offset": 1,
                },
                "<",
            );

        initAppear();
    };

    const cleanup = () => {
        if (spline) spline.stop();
        spline = null;
        mm?.revert();
        mm = null;
        gTlSplit1?.kill();
        gTlSplit1 = null;
        mTlHelmet1?.kill();
        mTlHelmet1 = null;
        mTlHelmet2?.kill();
        mTlHelmet2 = null;
        mTlSplit2?.kill();
        mTlSplit2 = null;
        dTlSplit2Left?.kill();
        dTlSplit2Left = null;
        dTlSplit2Right?.kill();
        dTlSplit2Right = null;
        dTlHelmetPin?.kill();
        dTlHelmetPin = null;
        dTlHelmet1?.kill();
        dTlHelmet1 = null;
        dTlHelmet2?.kill();
        dTlHelmet2 = null;

        scrollContainer = null;
        splitContainer = null;
        hero = null;
        splitRight = null;
        splitLeft = null;
        helmet = null;
        secondMobileHelmet = null;
    };

    document.addEventListener("storyblok-live-preview-updated", () => {
        cleanup();
        init();
    });

    document.addEventListener("astro:page-load", () => {
        init();
    });

    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
<style>
    #page-approach :global(.pin-spacer) {
        pointer-events: none;
    }
</style>
