---
import ArrowLink from "../../components/atoms/ArrowLink.astro";

import Hero from "../../components/approach/Hero.astro";
import CulturalPhilosophy from "../../components/approach/CulturalPhilosophy.astro";
import CulturalItems from "../../components/approach/CulturalItems.astro";
import CulturalProcess from "../../components/approach/CulturalProcess.astro";
import BoldAdvertising from "../../components/approach/BoldAdvertising.astro";

const { language, blok } = Astro.props;
---

<div class="approach">
    <div class="container-main flex flex-col items-center pt-135">
        <span
            class="text-tag-big mb-65 flex items-center justify-center rounded-[50px] border-3 px-24 py-13"
        >
            {blok.subtitle}
        </span>
        <h1 class="text-title-1 px-gutter w-10/12 text-center">
            {blok.title}
        </h1>
    </div>
    <div class="mt-130 flex aspect-[1440/660] w-full">
        <div class="bg-green w-1/2 rounded-tl-[100%]"></div>
        <div class="bg-orange w-1/2 rounded-tr-[100%]"></div>
    </div>

    <Hero blok={blok} />

    <div id="cultural-section" class="bg-green py-130 text-white">
        <div class="container-main">
            <div class="ml-[8.333%] w-1/2">
                <CulturalPhilosophy blok={blok} />
                <CulturalItems items={blok.cultural_items} />
                <CulturalProcess blok={blok} />
                {
                    blok.cultural_link[0]?.label && (
                        <ArrowLink
                            label={blok.cultural_link[0].label}
                            link={blok.cultural_link[0].link}
                            className="mt-40"
                        />
                    )
                }
            </div>
        </div>
    </div>
    <div id="communication-section" class="bg-orange py-130 text-white">
        <div class="container-main flex justify-end">
            <div class="mr-[8.333%] w-5/12">
                <BoldAdvertising blok={blok} />
            </div>
        </div>
    </div>
</div>
