---
import Title from "../../components/atoms/Title.astro";
import SBImage from "../../components/global/SBImage.astro";
import SBRichText from "../../components/global/SBRichText.astro";
import { hasRichTextContent } from "../../utils/richtext";

export const prerender = true;

const { language, blok } = Astro.props;
---

<div id="page-cmo" class="cmo bg-black text-white">
    <div
        class="container-main flex flex-col items-center pt-150 pb-120 lg:pt-135 lg:pb-145"
    >
        {
            blok.cmo_video_logo?.filename && (
                <div class="px-gutter mb-10 w-150 opacity-0" id="cmo-video">
                    <video
                        autoplay
                        loop
                        muted
                        playsinline
                        class="w-full"
                        aria-label={blok.cmo_title}
                    >
                        <source
                            src={blok.cmo_video_logo.filename}
                            type="video/mp4"
                        />
                    </video>
                    {blok.cmo_title && (
                        <h1 class="sr-only">{blok.cmo_title}</h1>
                    )}
                </div>
            )
        }

        <h2
            id="cmo-title"
            class="text-p-20 px-gutter w-10/12 text-center lg:w-8/12 lg:max-w-580"
        >
            <Title reveal="manual" title={blok.title[0]} />
        </h2>

        {
            blok.wpi_logo?.filename && (
                <div class="px-gutter mt-20 w-120 opacity-0" id="wpi-logo">
                    <SBImage image={blok.wpi_logo} class="w-full" />
                </div>
            )
        }

        <div
            class="before:bg-blue lg:before:inset-x-gutter before:-inset-x-gutter before:inset-y-gutter relative z-[1] mt-20 flex w-10/12 justify-center opacity-0 before:absolute before:z-[-1] before:content-[''] lg:w-8/12"
            id="cmo-form"
        >
            <div
                class="lg:px-gutter w-full px-15 py-40 text-black lg:w-6/8 lg:py-56"
            >
                <!-- Form success -->
                <div id="form-success" class="hidden">
                    <p class="text-title-5 whitespace-pre-wrap">
                        {blok.success_message}
                    </p>
                </div>

                <form
                    id="whitepaper-form"
                    class="flex flex-col gap-40 md:gap-48"
                >
                    <!-- Email -->
                    <div class="flex flex-col md:gap-8">
                        <label for="email" class="text-title-7">
                            {blok.email_label}*
                        </label>
                        <div
                            class="relative before:pointer-events-none before:absolute before:inset-0 before:border-b before:border-black"
                        >
                            <input
                                type="email"
                                id="email"
                                name="email"
                                required
                                autocomplete="off"
                                class="text-p-24 w-full border-b-3 border-transparent bg-transparent py-6 outline-none focus:border-black focus-visible:border-black focus-visible:outline-0 md:py-8"
                            />
                        </div>
                    </div>

                    <!-- Form error -->
                    <div id="form-error" class="text-orange hidden">
                        <p class="text-p-12 whitespace-pre-wrap">
                            {blok.error_message}
                        </p>
                    </div>

                    <!-- Submit -->
                    <div
                        class="mt-24 flex flex-col items-start justify-between gap-24 md:mt-0 md:flex-row md:items-end"
                    >
                        <button
                            type="submit"
                            id="submit-button"
                            class="text-cta-32 inline-flex flex-none cursor-pointer items-end gap-11 hover:opacity-80 disabled:cursor-not-allowed disabled:opacity-50"
                        >
                            <span
                                class="submit-text relative after:absolute after:inset-x-0 after:bottom-0 after:h-2 after:bg-current"
                            >
                                {blok.submit_label}
                            </span>
                            <span
                                class="flex size-28 items-center justify-center rounded-full border-2 border-current md:size-34"
                            >
                                <svg
                                    class="size-14 md:size-16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M0 8H14M14 8L8 2M14 8L8 14"
                                        stroke="currentColor"
                                        stroke-width="2"></path>
                                </svg>
                            </span>
                        </button>
                        <span class="text-p-12">
                            {blok.required_fields_label}
                        </span>
                    </div>
                </form>
                {
                    hasRichTextContent(blok.gdpr) && (
                        <div class="mt-20">
                            <SBRichText
                                content={blok.gdpr}
                                textSize="xxxsmall"
                            />
                        </div>
                    )
                }
            </div>
        </div>
    </div>
</div>

<script>
    import { waitForFooterSplineLoad } from "../../scripts/spline";

    let tlAppear: gsap.core.Timeline;
    let page: HTMLElement | null;

    const initAppear = async () => {
        if (!page) return;
        const banner = document.querySelector("#layout-banner");
        const header: NodeListOf<HTMLElement> = document.querySelectorAll(
            "#layout-header .layout-header",
        );
        const subtitle = page.querySelectorAll(".page-subtitle");
        const titleWordsDesktop = page.querySelectorAll(
            "#cmo-title .title-wrap-desktop .word-inner",
        );
        const titleWordsMobile = page.querySelectorAll(
            "#cmo-title .title-wrap-mobile .word-inner",
        );
        const form = page.querySelector("#cmo-form");
        const video = page.querySelector("#cmo-video");
        const wpiLogo = page.querySelector("#wpi-logo");

        gsap.timeline()
            .set(banner, {
                y: "-100%",
            })
            .set(header, {
                y: -50,
                opacity: 0,
            })
            .set(subtitle, {
                scale: 0.7,
                opacity: 0,
            })
            .set([titleWordsMobile, titleWordsDesktop], {
                y: "100%",
                opacity: 1,
            })
            .set(form, {
                y: 30,
                opacity: 0,
            })
            .set(video, {
                y: 30,
                opacity: 0,
            })
            .set(wpiLogo, {
                y: 30,
                opacity: 0,
            });

        tlAppear = gsap
            .timeline({
                paused: true,
                delay: window.innerWidth >= 1024 ? 0.3 : 0,
            })
            .to(
                banner,
                {
                    y: 0,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            )
            .to(
                header,
                {
                    y: 0,
                    opacity: 1,
                    duration: 0.6,
                    ease: "expo.out",
                },
                "start",
            )
            .to(
                subtitle,
                {
                    opacity: 1,
                    scale: 1,
                    duration: 1,
                    ease: "elastic.out(1.2,0.7)",
                },
                "start+=0.1",
            );

        if (window.innerWidth > 1024) {
            tlAppear
                .to(
                    titleWordsDesktop,
                    {
                        duration: 0.8,
                        y: 0,
                        stagger: 0.05,
                        ease: "elastic.out(1,0.7)",
                    },
                    "start+=0.1",
                )
                .set(titleWordsMobile, {
                    y: 0,
                });
        } else {
            tlAppear
                .to(
                    titleWordsMobile,
                    {
                        duration: 0.8,
                        y: 0,
                        stagger: 0.05,
                        ease: "elastic.out(1,0.7)",
                    },
                    "start+=0.1",
                )
                .set(titleWordsDesktop, {
                    y: 0,
                });
        }

        tlAppear
            .to(
                video,
                {
                    y: 0,
                    opacity: 1,
                    duration: 0.8,
                    ease: "power3.out",
                },
                "start+=0.3",
            )
            .to(
                wpiLogo,
                {
                    y: 0,
                    opacity: 1,
                    duration: 0.8,
                    ease: "power3.out",
                },
                "start+=0.35",
            )
            .to(
                form,
                {
                    y: 0,
                    opacity: 1,
                    duration: 0.8,
                    ease: "power3.out",
                },
                "start+=0.4",
            );

        await waitForFooterSplineLoad();

        tlAppear.play();
    };

    const initForm = () => {
        const form =
            document.querySelector<HTMLFormElement>("#whitepaper-form");
        const successMessage = document.querySelector("#form-success");
        const errorMessage = document.querySelector("#form-error");
        const submitBtn = form?.querySelector("button[type='submit']");

        if (!form || !successMessage || !errorMessage) return;

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const emailInput = form.querySelector<HTMLInputElement>("#email");
            const email = emailInput?.value;

            // Check if email is empty or invalid
            if (!email || !emailInput?.validity.valid) {
                if (errorMessage) {
                    errorMessage.classList.remove("hidden");
                    errorMessage.classList.add("block");
                }
                return;
            }

            // Disable form
            if (submitBtn) submitBtn.setAttribute("disabled", "true");
            errorMessage.classList.add("hidden");

            try {
                const response = await fetch("/api/send-email", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ email }),
                });

                const data = await response.json();

                if (response.ok) {
                    if (form) form.classList.add("hidden");
                    if (successMessage) {
                        successMessage.classList.remove("hidden");
                        successMessage.classList.add("block");
                    }
                    form.reset();
                } else {
                    throw new Error("Error during submission");
                }
            } catch (error) {
                if (form) form.classList.add("hidden");
                if (errorMessage) {
                    errorMessage.classList.remove("hidden");
                    errorMessage.classList.add("block");
                }
                console.error("Submission error:", error);
            } finally {
                // Re-enable form
                if (submitBtn) submitBtn.removeAttribute("disabled");
            }
        });
    };

    const init = () => {
        page = document.querySelector("#page-cmo");
        if (!page) return;

        initAppear();
        initForm();
    };

    const cleanup = () => {
        page = document.querySelector("#page-cmo");
        if (!page) return;
        tlAppear?.kill();
    };

    document.addEventListener("storyblok-live-preview-updated", () => {
        cleanup();
        init();
    });
    document.addEventListener("astro:page-load", () => {
        init();
    });

    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
