---
import { Icon } from "astro-icon/components";
import { renderRichText } from "@storyblok/astro";
import { useTranslations } from "../../i18n/utils";
import Tag from "../../components/atoms/Tag.astro";
import Title from "../../components/atoms/Title.astro";
import LayeredImage from "../../components/global/LayeredImage.astro";
import RichText from "../../components/shop/RichText.astro";
import OtherItems from "../../components/shop/OtherItems.astro";
import CTA from "../../components/global/CTA.astro";
import ArrowLink from "../../components/atoms/ArrowLink.astro";

const { language, blok } = Astro.props;

const lang = Astro.currentLocale;
const t = useTranslations(lang);

const categoryTheme = {
    myself: {
        popupBg: "bg-blue",
        popupText: "text-black",
        buttonColor: "orange",
    },
    brand: {
        popupBg: "bg-green",
        popupText: "text-white",
        buttonColor: "green",
    },
};

const theme = categoryTheme[blok.category] || {
    popupBg: "bg-green",
    popupText: "text-white",
    buttonColor: "green",
};

function formatPrice(price: number | string, locale: string = "fr"): string {
    if (price === null || price === undefined) return "";

    const numPrice = typeof price === "string" ? parseFloat(price) : price;

    const formatter = new Intl.NumberFormat(
        locale === "en" ? "en-US" : "fr-FR",
        {
            style: "currency",
            currency: "EUR",
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            useGrouping: true,
        },
    );

    let formatted = formatter.format(numPrice);

    return formatted;
}

const formattedPrice = formatPrice(blok.price, lang);
---

<div
    id="page-shop-item"
    class="shop-item bg-white text-black"
    data-unit-singular={blok.unit_label || "article"}
    data-unit-plural={blok.unit_plural_label || "articles"}
    data-contact-url={t("links.contact")}
    data-item-title={blok.title[0].mobile_title.replace(/\n/g, "")}
>
    <div
        class="container-main flex flex-col gap-20 pt-115 pb-120 md:flex-row-reverse md:items-start md:gap-0 md:pt-160 md:pb-170"
    >
        <div class="md:sticky md:top-55 md:w-6/12 xl:flex xl:justify-center">
            <div class="xl:w-4/6">
                <div class="px-gutter flex flex-col gap-8">
                    <div class="shop-item-tag self-start opacity-0">
                        <Tag category={blok.category} />
                    </div>
                    <h1 class="text-title-1" id="shop-item-title">
                        <Title reveal="manual" title={blok.title[0]} />
                    </h1>
                    <div
                        class="shop-item-price text-p-24 text-black/70 opacity-0"
                        >{formattedPrice}</div
                    >
                </div>
                <div class="px-gutter shop-item-desc mt-24 opacity-0">
                    <RichText content={blok.description} />
                </div>
                <div class="px-gutter mt-32 flex flex-col gap-32">
                    <!-- Select -->
                    {
                        blok.select_label &&
                            Array.isArray(blok.select_options) &&
                            blok.select_options.length > 0 && (
                                <div
                                    id="shop-item-select"
                                    class="flex flex-col gap-8"
                                >
                                    <label class="text-title-7">
                                        {blok.select_label}
                                    </label>
                                    <div class="flex flex-wrap gap-4">
                                        {(blok.select_options || []).map(
                                            (option, index: number) => (
                                                <div class="subject-option">
                                                    <input
                                                        type="radio"
                                                        id={option.id}
                                                        name="subject"
                                                        value={option.label}
                                                        class="topic-radio peer hidden"
                                                        required={index === 0}
                                                    />
                                                    <label
                                                        for={option.id}
                                                        class="topic-label text-tag-lil peer-checked:bg-pink inline-flex cursor-pointer items-center gap-6 rounded-[6rem] border-3 border-black px-10 py-1 transition-all md:gap-10 md:px-13 md:py-5"
                                                    >
                                                        <span class="arrow-icon relative -top-1">
                                                            <Icon
                                                                name="arrow-right"
                                                                class="size-12 md:size-16"
                                                            />
                                                        </span>
                                                        <span>
                                                            {option.label}
                                                        </span>
                                                    </label>
                                                </div>
                                            ),
                                        )}
                                    </div>
                                </div>
                            )
                    }

                    <!-- Quantity -->
                    <div class="flex flex-col gap-8">
                        <label class="text-title-7">{t("shop.quantity")}</label>
                        <div>
                            <div
                                class="quantity-selector inline-flex min-w-10/12 items-center gap-16 border-b border-black py-13 sm:min-w-5/12 md:min-w-3/6 xl:min-w-3/4"
                            >
                                <div
                                    class="quantity-display flex flex-1 items-center gap-8"
                                >
                                    <span
                                        class="quantity-value text-p-24 tabular-nums"
                                        >1</span
                                    >
                                    <span
                                        class="quantity-unit text-p-24"
                                        data-singular={blok.unit_label ||
                                            "article"}
                                        data-plural={blok.unit_plural_label ||
                                            "articles"}
                                    >
                                        {blok.unit_label}
                                    </span>
                                </div>
                                <div class="flex flex-none items-center gap-8">
                                    <button
                                        type="button"
                                        class="quantity-btn decrease flex size-34 cursor-not-allowed items-center justify-center rounded-full border-2 opacity-50"
                                        aria-label={t("shop.quantity.down")}
                                        disabled
                                    >
                                        <Icon name="minus" class="size-16" />
                                    </button>
                                    <button
                                        type="button"
                                        class="quantity-btn increase flex size-34 cursor-pointer items-center justify-center rounded-full border-2"
                                        aria-label={t("shop.quantity.up")}
                                    >
                                        <Icon name="plus" class="size-16" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-gutter mt-32" id="order-btn-wrap">
                    <CTA
                        id="order-btn"
                        label={blok.button_label}
                        color={theme.buttonColor}
                    />
                </div>
            </div>
        </div>
        <div
            class="shop-item-imgs px-gutter flex flex-col gap-20 opacity-0 md:w-6/12"
        >
            <LayeredImage class="w-full" image={blok.cover} />
            {
                blok.other_images &&
                    blok.other_images.length > 0 &&
                    blok.other_images.map((image) => (
                        <LayeredImage class="w-full" image={image} />
                    ))
            }
        </div>
    </div>
    {blok.other_items?.length > 0 && <OtherItems items={blok.other_items} />}
    <div
        id="order-popup"
        class={`${theme.popupBg} ${theme.popupText} invisible fixed top-[50%] left-[50%] z-[105] w-[calc(100%-20px)] max-w-1160 origin-center translate-x-[-50%] translate-y-[-50%] scale-[0.85] px-25 py-50 opacity-0 md:p-50`}
    >
        <Icon
            name="angle-up"
            size="12"
            class="absolute top-10 left-10 md:top-23 md:left-23"
        />
        <Icon
            name="angle-down"
            size="12"
            class="absolute right-10 bottom-10 md:right-23 md:bottom-23"
        />
        <button
            id="order-popup-close"
            class="absolute top-16 right-16 cursor-pointer md:top-24 md:right-24"
        >
            <Icon name="cross-circle" class="size-28 md:size-34" />
        </button>
        <div class="flex items-center gap-70">
            <div class="hidden lg:block">
                <LayeredImage class="w-full" image={blok.cover} />
            </div>
            <div class="flex w-full flex-col gap-20 md:gap-40">
                <h3 class="text-title-3">{blok.popup_title}</h3>
                <div
                    class="text-p-24"
                    set:html={renderRichText(blok.popup_text)}
                />
                <div>
                    <ArrowLink
                        id="confirm-order-btn"
                        label={blok.popup_button_label}
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .topic-label .arrow-icon {
        display: none;
    }
    .topic-radio:checked + .topic-label .arrow-icon {
        display: inline-flex;
    }
</style>

<script>
    import { waitForFooterSplineLoad } from "../../scripts/spline";

    let tlAppear: gsap.core.Timeline;
    let page: HTMLElement | null;

    let orderBtn: HTMLElement | null;
    let orderPopup: HTMLElement | null;
    let orderPopupClose: HTMLElement | null;
    let confirmOrderBtn: HTMLElement | null;

    let quantityUnit: HTMLElement | null;
    let decreaseBtn: HTMLElement | null;
    let increaseBtn: HTMLElement | null;
    let quantityValue: HTMLElement | null;
    let unitSingular: string;
    let unitPlural: string;

    let quantity: number = 1;
    let isPopupOpen: boolean = false;

    const updateQuantity = (value: number) => {
        quantity = Math.max(1, value);
        if (quantityValue) quantityValue.textContent = quantity.toString();

        if (decreaseBtn) {
            if (quantity <= 1) {
                decreaseBtn.classList.remove("cursor-pointer");
                decreaseBtn.classList.add("opacity-50", "cursor-not-allowed");
                decreaseBtn.setAttribute("disabled", "disabled");
            } else {
                decreaseBtn.classList.remove(
                    "opacity-50",
                    "cursor-not-allowed",
                );
                decreaseBtn.classList.add("cursor-pointer");
                decreaseBtn.removeAttribute("disabled");
            }
        }

        if (quantityUnit) {
            const unitText =
                quantity > 1
                    ? quantityUnit.getAttribute("data-plural") || unitPlural
                    : quantityUnit.getAttribute("data-singular") ||
                      unitSingular;
            quantityUnit.textContent = unitText;
        }
    };

    const onDecreaseQuantityClick = () => {
        updateQuantity(quantity - 1);
    };

    const onIncreaseQuantityClick = () => {
        updateQuantity(quantity + 1);
    };

    const initQuantity = () => {
        const quantitySelector = document.querySelector(".quantity-selector");
        if (!quantitySelector) return;
        decreaseBtn = quantitySelector.querySelector(".decrease");
        increaseBtn = quantitySelector.querySelector(".increase");
        quantityValue = quantitySelector.querySelector(".quantity-value");
        quantityUnit = quantitySelector.querySelector(".quantity-unit");

        unitSingular = quantityUnit?.getAttribute("data-singular") || "article";
        unitPlural = quantityUnit?.getAttribute("data-plural") || "articles";

        quantity = 1;
        if (quantityUnit) quantityUnit.textContent = unitSingular;

        increaseBtn?.addEventListener("click", onIncreaseQuantityClick);
        decreaseBtn?.addEventListener("click", onDecreaseQuantityClick);
    };

    const initAppear = async () => {
        if (!page) return;
        const banner = document.querySelector("#layout-banner");
        const header = document.querySelectorAll(
            "#layout-header .layout-header",
        );

        const tag = page.querySelector(".shop-item-tag");
        const titleWordsDesktop = page.querySelectorAll(
            "#shop-item-title .title-wrap-desktop .word-inner",
        );
        const titleWordsMobile = page.querySelectorAll(
            "#shop-item-title .title-wrap-mobile .word-inner",
        );

        const description = page.querySelector(".shop-item-desc");
        const price = page.querySelector(".shop-item-price");
        const imgs = page.querySelector(".shop-item-imgs");

        gsap.timeline()
            .set(banner, { y: "-100%" })
            .set(header, { y: -50, opacity: 0 })
            .set(tag, { scale: 0.7, opacity: 0 })
            .set([titleWordsMobile, titleWordsDesktop], {
                y: "100%",
                opacity: 1,
            })
            .set(description, { y: "20rem", opacity: 0 })
            .set(imgs, { y: "20rem", opacity: 0 })
            .set(price, { y: "100%", opacity: 0 });

        tlAppear = gsap
            .timeline({
                paused: true,
                delay: window.innerWidth >= 1024 ? 0.3 : 0,
            })
            .to(banner, { y: 0, duration: 0.6, ease: "expo.out" }, "start")
            .to(
                header,
                { y: 0, opacity: 1, duration: 0.6, ease: "expo.out" },
                "start",
            )
            .to(
                imgs,
                { duration: 1, opacity: 1, y: 0, ease: "elastic.out(1,0.7)" },
                "start+=0.1",
            )
            .to(
                tag,
                {
                    opacity: 1,
                    scale: 1,
                    duration: 1,
                    ease: "elastic.out(1.2,0.7)",
                },
                "start+=0.2",
            )
            .to(
                price,
                { duration: 0.7, opacity: 1, y: 0, ease: "power4.out" },
                "<+=0.1",
            )
            .to(
                description,
                { duration: 0.7, opacity: 1, y: 0, ease: "power4.out" },
                "<",
            );

        if (window.innerWidth > 1024) {
            tlAppear
                .to(
                    titleWordsDesktop,
                    {
                        duration: 0.8,
                        y: 0,
                        stagger: 0.05,
                        ease: "elastic.out(1,0.7)",
                    },
                    "start+=0.1",
                )
                .set(titleWordsMobile, { y: 0 });
        } else {
            tlAppear
                .to(
                    titleWordsMobile,
                    {
                        duration: 0.8,
                        y: 0,
                        stagger: 0.05,
                        ease: "elastic.out(1,0.7)",
                    },
                    "start+=0.1",
                )
                .set(titleWordsDesktop, { y: 0 });
        }

        await waitForFooterSplineLoad();

        tlAppear.play();
    };

    const openOrderPopup = () => {
        if (isPopupOpen || !orderPopup) return;

        gsap.timeline().to(
            orderPopup,
            {
                autoAlpha: 1,
                scale: 1,
                duration: 0.6,
                ease: "elastic(1.2, 0.7)",
            },
            "<0.1",
        );

        isPopupOpen = true;
        document.body.classList.add("overflow-hidden");
    };

    const closeOrderPopup = () => {
        if (!isPopupOpen || !orderPopup) return;

        gsap.timeline().to(orderPopup, {
            scale: 0.85,
            autoAlpha: 0,
            duration: 0.2,
            ease: "power3.in",
        });

        isPopupOpen = false;
        document.body.classList.remove("overflow-hidden");
    };

    const processOrder = () => {
        if (!page) return;
        let contactUrl = page.getAttribute("data-contact-url");
        let itemTitle = page.getAttribute("data-item-title");
        if (!contactUrl || !itemTitle) return;

        const fullContactUrl = new URL(contactUrl, location.origin);
        fullContactUrl.searchParams.append("shopTitle", itemTitle);

        const shopSelect = page.querySelector("#shop-item-select");
        if (shopSelect) {
            const selectedOptionEl: HTMLInputElement | null =
                shopSelect.querySelector(".topic-radio:checked");

            const selectedOption: string | undefined = selectedOptionEl?.value;

            if (selectedOption) {
                fullContactUrl.searchParams.append(
                    "shopOption",
                    selectedOption,
                );
            }
        }

        if (quantityValue && quantityValue.textContent) {
            fullContactUrl.searchParams.append(
                "shopQuantity",
                quantityValue.textContent,
            );
        }

        window.location.href = fullContactUrl.toString();
    };

    const onOrderBtnClick = () => {
        openOrderPopup();
    };

    const initOrder = () => {
        if (!page) return;

        orderBtn = page.querySelector("#order-btn");
        orderBtn?.addEventListener("click", onOrderBtnClick);

        orderPopup = document.querySelector("#order-popup");
        orderPopupClose = document.querySelector("#order-popup-close");
        confirmOrderBtn = document.querySelector("#confirm-order-btn");

        orderPopupClose?.addEventListener("click", closeOrderPopup);
        confirmOrderBtn?.addEventListener("click", processOrder);
    };

    const init = () => {
        page = document.querySelector("#page-shop-item");
        if (!page) return;

        initQuantity();
        initAppear();
        initOrder();
    };

    const cleanup = () => {
        tlAppear?.kill();
        increaseBtn?.removeEventListener("click", onIncreaseQuantityClick);
        decreaseBtn?.removeEventListener("click", onDecreaseQuantityClick);
        orderBtn?.removeEventListener("click", onOrderBtnClick);
        orderPopupClose?.removeEventListener("click", closeOrderPopup);
        confirmOrderBtn?.removeEventListener("click", processOrder);
    };

    document.addEventListener("storyblok-live-preview-updated", () => {
        cleanup();
        init();
    });

    document.addEventListener("astro:page-load", () => {
        init();
    });
    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
