---
import Title from "../../components/atoms/Title.astro";

const { title, bgColor, color, id, order = "" } = Astro.props;
---

<div
    id={id}
    data-order={order}
    style={{
        backgroundColor: `var(--color-${bgColor})`,
        color: `var(--color-${color})`,
    }}
    class="about-section w-full overflow-hidden py-100 md:py-150"
>
    <div class="container-main">
        <h2 class="text-title-1 px-gutter mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
            <Title title={title} />
        </h2>
        <slot />
    </div>
</div>
