---
import { renderRichText } from "@storyblok/astro";
import ArrowLink from "../atoms/ArrowLink.astro";

const { blok } = Astro.props;
---

<div class="mb-55">
    <h2 class="text-title-2 mx-gutter mb-36">
        {blok.communication_title}
    </h2>
    <div
        class="px-gutter text-p-24 w-full"
        set:html={renderRichText(blok.communication_text)}
    />
</div>
<div class="flex flex-col gap-6">
    {
        blok.communication_items
            .split(",")
            .map((item: string) => (
                <div class="text-title-4 bg-white px-24 py-16 text-black md:px-32 md:py-24">
                    {item}
                </div>
            ))
    }
</div>
{
    blok.communication_link[0]?.label && (
        <ArrowLink
            label={blok.communication_link[0].label}
            link={blok.communication_link[0].link}
            className="mt-40"
        />
    )
}
