---
import { Icon } from "astro-icon/components";

import Tag from "../../components/atoms/Tag.astro";
import LayeredImage from "../../components/global/LayeredImage.astro";

const { language, caseItem } = Astro.props;
const hasVideo = caseItem.has_case_study && caseItem.cover_video;
const videoId = `case-video-${Math.random().toString(36).substring(2, 11)}`;
---

<div
    class={`relative ${
        caseItem.cover_ratio === "square"
            ? "aspect-square"
            : "aspect-[1398/883]"
    }`}
    data-has-video={hasVideo ? "true" : "false"}
>
    <LayeredImage
        imgClass="object-cover"
        class="size-full"
        image={caseItem.cover}
    />
    {hasVideo && (
        <div class="video-overlay absolute opacity-0 inset-0 transition-opacity duration-300">
            <video
                id={videoId}
                class="w-full h-full object-cover" 
                src={caseItem.cover_video.filename} 
                muted 
                playsinline
                preload="metadata"
                data-video-id={videoId}>
            </video>
        </div>
    )}
    {
        caseItem.united && (
            <Icon
                name="united"
                class="absolute right-16 bottom-16 size-37 text-white md:right-24 md:bottom-24 md:size-55"
            />
        )
    }
    <Tag category={caseItem.category} class="absolute top-16 left-16" />
</div>
