---
import { type SbBlokData, storyblokEditable } from "@storyblok/astro";

import PlanItem from "../../components/atoms/PlanItem.astro";
import BottomNotesItem from "../../components/atoms/BottomNotesItem.astro";

const { language, blok } = Astro.props;
---

<div
    class="container-main flex flex-col gap-32 py-50 md:py-100 lg:gap-48"
    {...storyblokEditable(blok)}
>
    <div
        class="flex flex-col items-center gap-80 lg:flex-row lg:items-start lg:gap-20"
    >
        {
            blok.items.map((item: SbBlokData) => (
                <PlanItem
                    class="w-full max-w-600 flex-1 lg:max-w-none"
                    blok={item}
                    from_label={blok.from_label}
                    per_period_label={blok.per_period_label}
                    included_label={blok.included_label}
                    choose_label={blok.choose_label}
                />
            ))
        }
    </div>
    {
        blok.bottom_notes && blok.bottom_notes.length > 0 && (
            <div class="flex flex-col gap-12 lg:gap-16">
                {blok.bottom_notes.map((item: SbBlokData) => (
                    <BottomNotesItem blok={item} />
                ))}
            </div>
        )
    }
</div>
