---
const { language, blok } = Astro.props;

import SocialPost from "../../components/atoms/SocialPost.astro";
import CTA from "../../components/global/CTA.astro";
---

<div class="bg-black pt-170 pb-130 text-white">
    <div class="container-main">
        <div
            class="flex items-center justify-between gap-50 after:left-gutter after:right-gutter relative mb-70 pb-8 after:absolute after:bottom-0 after:h-1 after:bg-[#656565]"
        >
            <div class="flex items-center gap-6">
                <h2 class="text-h1 px-gutter">{blok.title}</h2>
                <div class="px-gutter flex flex-col">
                    {
                        blok.subtitle && (
                            <span class="text-[#666]">{blok.subtitle}</span>
                        )
                    }
                    {blok.social_handle && <span>{blok.social_handle}</span>}
                </div>
            </div>
            <div class="px-gutter flex items-center gap-8">
                {
                    blok.twitter && (
                        <CTA
                            link={blok.twitter}
                            label="Twitter"
                            icon="twitter"
                            className="bg-blue text-white"
                        />
                    )
                }
                {
                    blok.facebook && (
                        <CTA
                            link={blok.facebook}
                            label="Facebook"
                            icon="facebook"
                            className="bg-blue text-white"
                        />
                    )
                }
                {
                    blok.linkedin && (
                        <CTA
                            link={blok.linkedin}
                            label="LinkedIn"
                            icon="linkedin"
                            className="bg-green text-white"
                        />
                    )
                }
                {
                    blok.instagram && (
                        <CTA
                            link={blok.instagram}
                            label="Instagram"
                            icon="instagram"
                            className="bg-blue text-black"
                        />
                    )
                }
            </div>
        </div>
    </div>
    <div class="feed-slider-wrapper flex items-start overflow-hidden">
        {
            blok.posts?.map((post) => {
                return <SocialPost post={post} />;
            })
        }
        {
            blok.posts?.map((post) => {
                return <SocialPost post={post} />;
            })
        }
        {
            blok.posts?.map((post) => {
                return <SocialPost post={post} />;
            })
        }
    </div>
</div>

<script>
    import horizontalLoop from "../../scripts/horizontalLoop";

    let wrapper: HTMLElement | null;
    let posts: NodeListOf<Element> | null;
    let loop: GSAPTimeline | undefined | null;

    const init = () => {
        wrapper = document.querySelector(".feed-slider-wrapper");
        posts = document.querySelectorAll(".feed-slider-post");

        loop = horizontalLoop(posts, {
            draggable: true,
            center: true,
            snap: false,
        });

        wrapper?.addEventListener("mouseenter", function () {
            if (loop) {
                gsap.to(loop, {
                    duration: 0.5,
                    timeScale: 0,
                });
            }
        });
        wrapper?.addEventListener("mouseleave", function () {
            if (loop) {
                gsap.to(loop, {
                    duration: 0.5,
                    timeScale: 1,
                });
            }
        });
    };

    const cleanup = () => {
        if (loop) {
            loop.kill();
            loop = null;
        }
        wrapper = null;
        posts = null;
    };

    document.addEventListener("astro:page-load", () => {
        init();
    });

    document.addEventListener("astro:before-swap", () => {
        cleanup();
    });
</script>
