---
import ArrowLink from "../atoms/ArrowLink.astro";
import BasicLink from "../atoms/BasicLink.astro";
import CTA from "./CTA.astro";
import LogoTypo from "./LogoTypo.astro";
import SBImage from "./SBImage.astro";

interface FooterLink {
    label: string;
    link: {
        cached_url?: string;
        url?: string;
        linktype?: string;
        target?: string;
    };
}

interface FooterCol {
    title: string;
    links: FooterLink[];
}

interface FooterImage {
    filename: string;
    alt?: string;
    id: number;
}

interface FooterData {
    title: string;
    top_link?: FooterLink[];
    copy?: string;
    made_by?: string;
    cols?: FooterCol[];
    linkedin?: {
        cached_url?: string;
        url?: string;
        target?: string;
    };
    instagram?: {
        cached_url?: string;
        url?: string;
        target?: string;
    };
    bottom_images?: FooterImage[];
}

const { footerData } = Astro.props;
---

<footer class="border-orange border-b-11 pt-25 pb-10 lg:pt-190">
    <div class="container-main flex flex-col lg:flex-row-reverse">
        <div
            class="lg:pr-gutter flex flex-grow flex-col justify-between gap-25 lg:w-1/2 lg:pl-42"
        >
            <div class="flex w-full flex-grow justify-end gap-40">
                <div
                    class="px-gutter size-10/12 max-w-400 lg:size-full lg:max-w-auto lg:flex-grow lg:px-0"
                >
                    <div
                        class="flex aspect-square items-center justify-center bg-black text-white lg:max-w-500"
                    >
                        <span>SPLINE</span>
                    </div>
                </div>
                <div class="hidden lg:flex lg:flex-col lg:gap-4 lg:self-end">
                    {
                        footerData.linkedin && (
                            <CTA
                                link={footerData.linkedin}
                                icon="linkedin"
                                className="bg-green text-white"
                            />
                        )
                    }
                    {
                        footerData.instagram && (
                            <CTA
                                link={footerData.instagram}
                                icon="instagram"
                                className="bg-blue text-black"
                            />
                        )
                    }
                </div>
            </div>
        </div>
        <div class="px-gutter pt-16 lg:w-1/2 lg:pt-30 lg:pr-42">
            <LogoTypo className="mb-65 hidden w-237 lg:block" />
            <div class="flex items-end gap-25">
                <div>
                    <h2 class="text-title-2">{footerData.title}</h2>
                    {
                        footerData.top_link && (
                            <ArrowLink
                                label={footerData.top_link[0].label}
                                link={footerData.top_link[0].link}
                                className="mt-24"
                            />
                        )
                    }
                </div>
                <div class="flex flex-none flex-col gap-4 self-end lg:hidden">
                    {
                        footerData.linkedin && (
                            <CTA
                                link={footerData.linkedin}
                                icon="linkedin"
                                className="bg-green text-white"
                            />
                        )
                    }
                    {
                        footerData.instagram && (
                            <CTA
                                link={footerData.instagram}
                                icon="instagram"
                                className="bg-blue text-black"
                            />
                        )
                    }
                </div>
            </div>
            {
                footerData.cols && (
                    <div class="mt-90 flex flex-wrap gap-x-64 gap-y-24">
                        {footerData.cols.map((col: FooterCol) => (
                            <div class="footer-col">
                                <h5 class="text-title-7 mb-8">
                                    {col.title}
                                </h5>
                                <div class="flex flex-col">
                                    {col.links?.map((linkItem: FooterLink) => (
                                        <BasicLink
                                            label={linkItem.label}
                                            link={linkItem.link}
                                            className="text-p14 text-black/50"
                                        />
                                    ))}
                                </div>
                            </div>
                        ))}
                    </div>
                )
            }
        </div>
    </div>
    <div
        class="container-main mt-30 flex flex-col gap-30 lg:mt-25 lg:flex-row-reverse lg:items-end"
    >
        <div
            class="pr-gutter flex items-center gap-32 lg:w-1/2 lg:justify-end lg:pl-42"
        >
            {
                footerData.bottom_images?.map((image: FooterImage) => (
                    <SBImage
                        image={image}
                        class="max-h-[4rem] w-auto lg:max-h-[5rem]"
                    />
                ))
            }
        </div>
        <div class="pl-gutter flex items-baseline gap-14 lg:w-1/2 lg:pr-42">
            <p class="text-p14">{footerData.copy}</p>
            {footerData.made_by && <p class="text-p12">{footerData.made_by}</p>}
        </div>
    </div>
</footer>
